
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@500&family=Fjalla+One&family=Oswald&display=swap');


body{
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

*{
  font-size: 18px;
}

.wave-2 {
  transform: rotate(180deg);
  margin-top: -5px;
}

.brand-name {
  font-family: 'Bebas Neue', cursive;

}

h1 {
  margin: 10px 10px 10px 0px;
  color: rgb(33, 33, 33);
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Bebas Neue', cursive;

}
h5{
  color: rgb(144, 144, 144);
}

h3
{
  font-family: 'Bebas Neue', cursive;
}

.call{
  font-size: 1.1rem;
  color: rgb(46, 46, 46);
}


.nav-sultan {
  background-color: rgb(195, 15, 189);
}
.text-sultan {
 color: rgb(195, 15, 189);
}

.active-link {
  font-weight: 700;
  font-size: 20px;
  color: rgb(33, 33, 33);
  font-family: 'Bebas Neue', cursive;

}

.cta {
  width: 200px;
  padding: 10px 10px; 
  color: white;
   font-size: 1.2rem;
   background-color:#fbce03;

}

.navbar {
  background-color: rgba(114, 56, 113, 0);
}
.link-sosmed {
  font-size: 0.8rem;
  color: rgb(42, 42, 42);
}

.navbar-toggler {
  box-shadow: none;
  border: none;
}
.navbar-toggler:hover {
  box-shadow: none;
  border: none;
  background-color: rgb(236, 236, 236);
  ;
}

.about {
  background-color: rgb(195, 15, 189);
  color: white;
  padding: 20px; 
  letter-spacing: 0.05rem;
  font-family: 'Fjalla One', sans-serif;
}

.portfolio {
  background-color: #fbce03;


}

.about p {
  font-family: 'Fjalla One', sans-serif;

}
 .text-dominan {
  color: rgb(233, 214, 1);
  font-size: 1.2rem;  
  font-family: 'Bebas Neue', cursive;

}

.profil-img {
height: 300px;
width:300px;  
overflow: hidden;
background-position: inherit;
background-size: contain;
background-repeat: no-repeat;
background-image: url('../image/foto1.jpeg');
}

.dropdown-about p {
  font-size: 0.7rem;
  color: rgb(45, 45, 45);
  font-family: 'Oswald', sans-serif;
}


.map-frame iframe {
  width: 90%;
}

.footer {
  background-color: #0c0c0c;
  font-size: 0.8rem;
}


@media (max-width: 992px) { 
  .cta{
    width: 100%;
    padding: 10px 10px;

  }

  @media (max-width: 568px) { 
    .cta{
      width: 100%;
      padding: 10px 10px;
  
    }

    .footer {
      font-size: 0.6rem;
    }

    .footer a{
      font-size: 0.5rem;
    }
    

 }


}
